server {
    listen 80;
    location / {
        resolver 10.0.0.2 valid=10s;
        set $backend http://${VPC_LATTICE_SERVICE_DOMAIN_NAME};
        proxy_pass $backend;
        proxy_set_header Host ${VPC_LATTICE_SERVICE_DOMAIN_NAME};
    }
}